@import url('./config.css');

.grid-container {
  height: 50vh;
  display: grid;
  grid-template-columns: 
    [inicio-sidebar-esq] 1fr 10px 1fr
    [fim-sidebar-esq] 10px
    [inicio-principal] 1fr repeat(7, 10px 1fr)
    [fim-principal] 10px
    [inicio-sidebar-dir] 1fr 10px 1fr
    [fim-sidebar-dir]
  ;
  grid-template-rows: 
    [cabecalho] 1fr
    [principal] 1fr
    [rodape] 1fr
  ;
}
.cx-1 {
  grid-column: inicio-sidebar-esq/fim-sidebar-dir;
  grid-row: cabecalho;
}
.cx-2 {
  grid-column: inicio-sidebar-esq/fim-sidebar-esq;
  grid-row: principal;
}
.cx-3 {
  grid-column: inicio-principal/fim-principal;
  grid-row: principal;
}
.cx-4 {
  grid-column: inicio-sidebar-dir/fim-sidebar-dir;
  grid-row: principal;
}
.cx-5 {
  grid-column: inicio-sidebar-esq/fim-sidebar-dir;
  grid-row: rodape;
}